/* components/shared/Switch.module.css */
.switch {
  position: relative;
  display: inline-block;
  width: 44px; /* 11 * 4 */
  height: 24px; /* 6 * 4 */
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px; /* 4.5 * 4 */
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.input {
  opacity: 0;
  width: 0;
  height: 0;
}

.input:checked + .slider {
  background-color: var(--color-primary); /* Our Green Theme */
}

.input:checked + .slider:before {
  transform: translateX(20px); /* 5 * 4 */
}